.v-combo {
    a {
        color: inherit !important;
    }

    .uk-dropdown {
        margin: 0 !important;
    }

    &-item {
        > *{
            vertical-align: top;
        }

        main:not(.--detail-damage) &-detail-damage,
        main:not(.--detail-percent) &-detail-percent,
        main:not(.--detail-ki) &-detail-ki {
            display: none;
        }
    }
    
    .v-add,
    &:not(:hover) &-control {
        display: none;
    }

    .v-combo-add,
    .v-add:hover,
    &-item:hover .v-add {
        display: inline-block;
    }
}