.v-combo {
    a {
        color: inherit !important;
    }

    .uk-dropdown {
        margin: 0 !important;
    }

    &-item {
        > *{
            vertical-align: top;
        }

        main:not(.--info) &-info {
            display: none;
        }
    }
    
    .v-add,
    &:not(:hover) &-control {
        display: none;
    }

    .v-add:hover,
    &:hover .v-combo-add,
    &-item:hover .v-add {
        display: inline-block;
    }
}