<!-- Extension du Layout --> 
{% extends 'layouts/default.njk' %}

{% block content %}
    <div class="uk-flex uk-height-1-1">
        <nav class="uk-section uk-section-small uk-width-auto uk-background-muted">
            <div class="uk-container">
                <h2 class="uk-heading-small">Character</h2>
                <ul class="uk-nav uk-nav-primary">
                    <li
                        v-for="(oCurrentCharacter, sCodeCharacter) in oCharacter"
                        :key="sCodeCharacter"
                        :class="{ 'uk-active': sSelectedCharacter == sCodeCharacter }"
                    >
                        <a @click="change(sCodeCharacter)" href="#" v-html="oCurrentCharacter.label"></a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="uk-width-expand uk-flex uk-flex-column">
            <main class="uk-section uk-section-small uk-width-expand uk-overflow-auto uk-padding-remove-bottom">
                <div class="uk-container uk-container-expand">
                    <combo
                        v-for="oCurrentCombo in oCombo"
                        :key="oCurrentCombo._id"
                        :o-data="oCurrentCombo"
                        @duplicate="duplicate(oCurrentCombo._id)"
                        @remove="remove(oCurrentCombo._id)"
                    ></combo>
                </div>
            </main>
            <footer class="uk-section uk-section-small">
                <div class="uk-container uk-container-expand uk-text-right">
                    <button
                        @click="add()"
                        class="uk-button uk-button-default"
                    >
                        Add
                        <span class="uk-visible@s">combo</span>
                    </button>
                </div>
            </footer>
        </section>
    </div>
{% endblock %}